body
   {
    background-color: #FFE4C4;
    }
#flex {
    display: flex;
    flex-direction: row;
    }

nav{
    background-color: #FFE4C4;
        }
main {
    background-color: #FFE4C4;
    }
h1 {
    color: #0000FF;
    }
